.bg {
    background: #fff5ec;
}

.icon {
    width: 60px;
    height: 60px;
    line-height: 60px;
    font-size: 50px;
    margin-bottom: 20px;
    color: #dc965a;
}

.feature-box-01 {
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
}

.feature-box-01:hover div,
.feature-box-01:hover {
    color: white;
    background-color: #dc965a;
}

.img-box {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    background: #fff;
}

.img-box>img {
    width: 100%;
}

.after-left-section {
    background: #dc965a;
    width: 40%;
}

.px-btn {
    background: #dc965a;
    color: white;
    text-decoration: none !important;
}

.px-btn:hover {
    background: black;
    color: white;
}

.ghf-border::after{
    border-bottom: 1px solid white;
    content: " ";
    display: block;
    transform: scale(0);
    transform-origin: left;
    transition: all 400ms linear 0s;
}

.ghf-border:hover::after{
    transform: scale(1);
}

@media screen and (max-width:575px){
    .top-style {
        position: absolute;
        width: 200px;
        top: 50px;
        left: -50px;
        color: #dc965a;
        visibility: hidden;
       
    }
  
}

@media screen and (min-width:576px) and (max-width:767px){
    .top-style {
        position: absolute;
        width: 250px;
        top: 50px;
        left: -50px;
        color: #dc965a;
       
    }
  
    

}

@media screen and (min-width:768px) and (max-width:991px){
    .custom-last-line{
        text-align-last: center;

    }
    .top-style {
        visibility: hidden;
       
    }
   
    .bottom-style {
             visibility: hidden;
    }  
}

@media screen and (min-width:992px) and (max-width:1199px){
    .ghf-negative-margin{
        margin-left: -63px;
        
    }
    .top-style {
        position: absolute;
        width: 300px;
        top: 50px;
        left: -50px;
        color: #dc965a;
       
    }
  
    .bottom-style {
        position: absolute;
        width: 300px;
        bottom: -10px;
        right: 0px;
        color: #dc965a;
    }   
}

@media screen and (min-width:1200px) and (max-width:1399px){
    .ghf-negative-margin{
        margin-left: -63px;
    }
    .top-style {
        position: absolute;
        width: 350px;
        top: 50px;
        left: -50px;
        color: #dc965a;
       
    }
    .bottom-style {
        position: absolute;
        width: 350px;
        bottom: -10px;
        right: 0px;
        color: #dc965a;
    }  
    
}

@media screen and (min-width:1400px){
    .ghf-negative-margin{
        margin-left: -63px;
    }
    .top-style {
        position: absolute;
        width: 400px;
        top: 50px;
        left: -50px;
        color: #dc965a;
       
    }

    .bottom-style {
        position: absolute;
        width: 400px;
        bottom: -10px;
        right: 0px;
        color: #dc965a;
    } 
    
}

.ghf-nav{
    background-image: url(../images/bg-3.jpg);
       background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
        height: 100vh;
    
}

.ghf-pos
{
    position: absolute;
   

}

